<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<base href="/">
<title>Welcome to eM</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortlink" href="images/em1.png">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- build:css(app) styles/vendor.css -->
<!-- bower:css -->
<!-- <link rel="stylesheet" -->
<!-- 	href="bower_components/bootstrap/dist/css/bootstrap.css" /> -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:css({.tmp,app}) styles/main.css -->
<!-- <link rel="stylesheet" href="/styles/main.css"> -->
<!-- <link rel="stylesheet" href="/styles/login.css"> -->

<!-- endbuild -->
</head>
<body style="overflow: hidden;">
	<!-- <body> -->
	<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

	<div class="row container-fluid logincontainer">
		<div class="login-header row"
			style="background-color: #438EA8; text-align: center; box-shadow: 0px 0px 200px white;">
			<div class="navbar-brand">
				 <span
					style="color: #fff; font-size: 20px; margin-top: 5px;">Login</span>
			</div>
		</div>
		<div class="login row" style="box-shadow: 0px 0px 200px white">
			<hr />
			<form class="form-horizontal col-md-12" role="form" method="post"
				action="/loginSubmit">
				<div class="form-group">
					<label for="inputEmail3" class="control-label">User ID</label></br> <input
						type="text" class="form-control" id="inputEmail3" name="username"
						placeholder="">
				</div>
				<div class="form-group">
					<label for="inputPassword3" class="control-label">Password</label><br />
					<input type="password" class="form-control" name="password"
						id="inputPassword3" placeholder="">
				</div>
				<!--<div class="form-group">
                    <div class="checkbox">
                        <label> <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>-->
				<br />
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-lg">Sign
						in</button>
				</div>

			</form>

		</div>
		<div style="margin-top: 500px;"></div>
	</div>

	</div>


	<!-- build:js(app) scripts/vendor.js -->
	<!-- bower:js -->
<!-- 	<script src="bower_components/jquery/jquery.js"></script> -->
<!-- 	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script> -->
	<!-- endbuild -->
</body>
</html>
